<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kpi.ua.auttaa" >

    <permission
        android:name="kpi.ua.auttaa.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Permissions for Maps API -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="kpi.ua.auttaa.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Auttaa" >
<!-- META DATA -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBoKj9yohx1xNspVAMwoRq50pqAlNSqZ1g" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

<!--ACTIVITIES -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity
            android:name="kpi.ua.auttaa.AlarmActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:label="@string/title_activity_alarm"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kpi.ua.auttaa.MainActivity" />
        </activity>
        <activity android:name=".PreferencesActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
        />
        <activity
            android:name=".AlertFull"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_activity_alert_full" >
        </activity>

<!-- SERVICES AND RECEIVERS -->

        <service
            android:name=".update.AuttaaUpdateService"
            android:enabled="true" />

        <receiver android:name=".update.AuttaaAlarmReciever" >
            <intent-filter>
                <action android:name="kpi.ua.auttaa.update.ACTION_UPDATE_AUTTAA" />
            </intent-filter>
        </receiver>
        <receiver android:name="kpi.ua.auttaa.widget.AlertWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
